$font-size-logo: 22px;
$font-size-menu: 13px;
$font-size-page-heading: 24px;
$font-size-page-sub-heading: 20px;
$font-size-body: 16px;
$font-size-button: 13px;
$font-size-footer: 11px;

$font-body: 'Lato', sans-serif;
$font-heading: 'Noto Serif', serif;