//sass --watch style/scss:style/css

@import 'colors';
@import 'typo';

@font-face {
    font-family: 'playfair disply';
    src: url(../../font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
  }

body {
    background-color: $primary-color;
    font-size: $font-size-body;
    font-family: $font-body;
}

a {
    color: $brand-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
}

h1 {
    font-size: $font-size-page-heading;
    color: $brand-color;
}

h2 {
    font-size: $font-size-page-sub-heading;
}

h5 {
    color: $sub-heading-color;
    font-size: $font-size-page-sub-heading;
}

.lead, p {
    font-size: $font-size-body;
    font-family: $font-body;
    color: $body-text-color;
}

.btn-primary {
    background: $brand-color;
    border: $brand-color;
    &:hover {
        background-color: $btn-hover-color;
    }
}

.news__newsbtn {
    width: 100%;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
}

.news {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba($color: #000000, $alpha: 0.05) 0 6px 10px;

    .news__newsheading {
        font-family: $font-body;
    }
}

.card img{
    border-radius: 0 0 0.25em 0;
}

.navbar-light {
    .btn, .form-control {
        border-radius: 0;
    }

    .navbar-brand {
        color: $brand-color;
        font-family: $font-logo;
        font-size: $font-size-logo;
        font-style: italic;
    }

    .navbar-nav {
        .nav-link {
            color: $nav-text-color;
            font-size: $font-size-menu;
            &:hover {
                color: $brand-color;
            }
        }

        .active.nav-link {
            color: $nav-text-color;
            background-color: #ffffff;
        }
    }
}

.form-group {
    .form-control {
        height: 56px;
    }
}

.tab-content {
    background-color: #ffffff;
    border-radius: 0px 16px 16px 16px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: $footer-background;
    font-size: $font-size-footer;
    
    img {
        opacity: 0.25;
        &:hover {
            opacity: 1;
        }
    }
    .email-footer {
        text-align: center;
    }
}

.nav-tabs {
    .nav-link {
        border-radius: 16px 16px 0 0;
        border: none;
        color: $brand-color;
        z-index: 0;
        &:hover {
            color: $nav-text-color;
        }
    }
}

@media only screen and (max-width: 767px) {
    .img-fluid {
        position: relative;
    }
}

@media only screen and (min-width: 768px) {

    .w-md-auto {
        width: auto !important;
    }

}
